Source: ice-steamos
Section: games
Priority: extra
Maintainer: SteamOS-Tools Signing Key <mdeguzis@gmail.com>
Build-Depends: debhelper (>= 9),
 dh-python,
 python-all,
 python-setuptools,
 python-pip,
 python-docutils,
 python-sphinx,
 python-psutil,
 python-appdirs,
 python-pastebin,
 python-psutil,
 pysteam
Standards-Version: 3.9.5
Homepage: https://github.com/ProfessorKaos64/Ice
Vcs-Git: git://github.com/ProfessorKaos64/Ice.git
Vcs-Browser: https://github.com/ProfessorKaos64/Ice

Package: ice-steamos
Replaces: ice-steamos-unstable
Architecture: all
Depends: ${python:Depends},
 ${misc:Depends},
 dolphin-emu,
 python-psutil,
 python-appdirs,
 python-pastebin,
 python-psutil,
 pysteam,
 retroarch, 
 retroarch-assets,
 retroarch-joypad-autoconfig,
 libretro-common-overlays,
 libretro-common-shaders,
 libretro-4do,
 libretro-core-info,
 libretro-beetle-wswan,
 libretro-beetle-vb,
 libretro-desmume,
 libretro-fceumm,
 libretro-gambatte,
 libretro-mame,
 libretro-mupen64plus,
 libretro-pcsx1,
 libretro-ppsspp,
 libretro-snes9x-next,
 libretro-stella,
 libretro-vba-next,
 xboxdrv
Description: ICE is a program / utility to bring emulation to Steam BPM.
 The purpose of this project is to leverage Steam's Big Picture mode to 
 turn it into an emulator frontend (similar to Hyperspin). It accomplishes
 this by creating folders in specified locations on the user's hard drive,
 then adding any ROMs that are placed in these folders to Steam as 
 non-Steam games. Emulators are installed and configured by the user 
 before Ice is run.
 .
 This package is targeted at SteamOS.
