Source: typhoon2001
Section: games
Priority: extra
Maintainer: SteamOS-Tools Signing Key <mdeguzis@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://github.com/ProfessorKaos64/typhoon-2001
Vcs-Git: git://github.com/ProfessorKaos64/typhoon-2001.git
Vcs-Browser: https://github.com/ProfessorKaos64/typhoon-2001

Package: typhoon2001
Architecture: all
Depends: ${misc:Depends},
 libglu1-mesa:i386,
 libxpm4:i386,
 osspd:i386,
 libxcursor1:i386
Description: Typhoon 2001 is a clone of the game "Tempest 2001"
 This package is targeted at SteamOS.
