[Desktop Entry]
Name=Typhoon 2001
GenericName=Typhoon 2001
X-GNOME-FullName=Clone of the classic Tempest 2000 game.
Comment=Full rights go to the original author, Thorsten Kuphaldt
Exec=typhoon2001
Icon=/usr/share/pixmaps/typhoon2001.png
Terminal=false
Type=Application
