#!/usr/bin/make -f

#export DH_VERBOSE = 1
export PYBUILD_NAME = ice-unstable

# Don't let pybuild screw with proxy
# Common errors: "[Errno 111] Connection refused -- Some packages may not be found!"
export http_proxy=
export https_proxy=

%:
	dh $@ --with python2 --buildsystem=pybuild

override_dh_auto_test:
